{{!-- <div class="createLogDiv box">
<h4>Update Log</h4>
<form {{action 'updateLog' on='submit'}}>
  {{input
    maxlength=50
    value=log.title
  }}

  {{input class="log-input"
    maxlength=255
    value=log.log
  }}
  <button type="submit">Update Log &#9874;</button>
</form>
</div> --}}

<div class="modal fade" id="editLogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form {{action 'updateLog' on='submit'}}>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{log.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{input
          maxlength=50
          value=log.title
        }}
        <br><br>
        {{input class="log-input"
          maxlength=255
          value=log.log
        }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
          <button type="submit">Update Log &#9874;</button>
      </div>
    </form>
    </div>
  </div>
</div>
